.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

//Layouts

$Desktop: 1440px;
$Mobile: 375px;

//Primary colors

$bg: hsl(233, 47%, 7%);
$c-bg: hsl(244, 38%, 16%);
$acc: hsl(277, 64%, 61%);

//Neutral colors

$head: hsl(0, 0%, 100%);
$par: hsla(0, 0%, 100%, 0.75);
$stat-head: hsla(0, 0%, 100%, 0.6);

//Font sizes

$fs: 15px;

body{
    background-color: $bg;
    color: $par;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: $c-bg;
    width: 80%;
    margin: 4em auto;
    border-radius: 5px;
    text-align: center;
    align-items: center;

    &__wrapper{
        width: 100%;
        position: relative;
    }

    &__img{
        width: 100%;
        height: 100%;
        border-radius: 5px 5px 0 0;
        opacity: 100%;
    }

    &__cover{
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 5px 5px 0 0;
        top: 0;
        left: 0;
        background: $acc;
        opacity: 60%;
    }

    &__description{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title{
        max-width: 70%;
        color: $head;
        font-weight: 700;
        padding: 2em;
        padding-bottom: 0;
        
    }

    &--span{
        color: $acc;
    }

    &__par{
        color: $par;
        max-width: 80%;
        font-size: 15px;
        line-height: 1.5em;
    }

    &__container{
        margin-top: 1em;
        max-width: 40%;

        .card__item{
            font-weight: 400;
            font-size: 14px;
            padding: 1em;
            text-transform: uppercase;

            &:last-of-type{
                margin-bottom: 2em;
            }

            span{
                color: $head;
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
}

@media only screen and (min-width:600px) {      //! Fix desktop media query
    .card{
        flex-direction: row;

        &__wrapper{
            height: 100%;
        }

        &__description{
            order: -1;
        }

        &__container{
            display: flex;
            flex-direction: row;
        }
    }
    

}